@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap");

:root {
  --primary: #37392e;
  --primary2: #19647e;
  --primary3: #28afb0;
  --primary4: #ddcecd;
  --primary5: #eee5e5;
}

body {
  background-color: var(--primary);
  color: var(--primary5);
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

/******************/
/*NAVBAR*/
/******************/

.navbar {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  margin-bottom: 5rem;
}
.navbar-center {
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar-links {
  display: flex;
}
.navbar-link {
  margin: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--primary5);
}

.navbar-link:hover {
  color: var(--primary3);
}
.social-media-link {
  margin: 0.25rem;
  color: var(--primary5);
}

.social-media-link:hover {
  color: var(--primary3);
}

/******************/
/*CONTENT*/
/******************/

.content {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  flex-direction: column;
}

/******************/
/*LANDING*/
/******************/
.landing {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
}

.landing-button {
  background: none;
  font-family: "Roboto Mono", monospace;
  color: var(--primary5);
  border: solid 2px var(--primary5);
  width: fit-content;
  padding: 1rem;
  font-weight: bold;
}

.landing-button:hover {
  cursor: pointer;
  color: var(--primary3);
  border: solid 2px var(--primary3);
}

.landing-button-wrapper {
  width: fit-content;
  height: fit-content;
  margin: 0;
}
.landing-header {
  display: flex;
  flex-direction: row;
}

.landing-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-portrait-wrapper {
  width: 12rem;
  height: 12rem;
  align-content: center;
  margin: auto 0;
  margin-right: 1rem;
  background-color: var(--primary2);
  border: solid 0px;
  border-radius: 50%;
}

/******************/
/*PROJECTS*/
/******************/

.projects-list {
  display: grid;
  gap: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 576px) {
  .projects-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.project {
  background-color: var(--primary5);
  color: var(--primary);
  padding: 1rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 300;
  font-size: 0.9rem;
}

.tag {
  color: var(--primary5);
  background: var(--primary3);
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem;
  text-transform: uppercase;
  width: fit-content;
  font-size: 0.7rem;
  font-weight: bold;
  margin-right: 0.2rem;
  text-decoration: none;
}

.tags {
  display: flex;
}

.project-external-button {
  border: none;
  background-color: var(--primary2);
  color: var(--primary5);
  font-weight: bold;
  padding: 1rem;
  width: 100%;
}

.project-external-button:hover {
  cursor: pointer;
}
