@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap");

:root {
  --primary: #37392e;
  --primary2: #19647e;
  --primary3: #28afb0;
  --primary4: #ddcecd;
  --primary5: #eee5e5;
}

body {
  background-color: var(--primary);
  color: var(--primary5);
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

h1 {
  margin: 1rem;
  padding: 0;
}

/******************/
/*NAVBAR*/
/******************/

.navbar {
  display: flex;
  background-color: var(--primary5);
  color: var(--primary);
  align-items: center;
  justify-content: center;
}
.navbar-center {
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar-links {
  display: flex;
}
.navbar-link {
  margin: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--primary);
}
.social-media-link {
  margin: 0.25rem;
  color: var(--primary);
}

/******************/
/*CONTENT*/
/******************/

.content {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

/******************/
/*LANDING*/
/******************/
.landing {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 4rem;
  align-items: center;
  width: 100%;
}
